//fonts
.v-application {
  font-family: 'Monserrat', sans-serif !important;
}

h1 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 500;
  letter-spacing: 0.5px !important;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  letter-spacing: 0.5px !important;
}

h3 {
  font-size: 18px;
  line-height: 24px !important;
  font-weight: normal;
  letter-spacing: 0.5px !important;
}

h4 {
  font-size: 16px;
  line-height: 20px !important;
  font-weight: normal;
  letter-spacing: 0.5px !important;
}

h5 {
  font-size: 12px;
  line-height: 16px !important;
  font-weight: normal;
  letter-spacing: 0.5px !important;
}
